.root {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;

  .label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 30px;
    cursor: pointer;
  }

  .input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    padding: 0;

    font: inherit;
    color: currentColor;
    width: 0.8em;
    height: 0.8em;

    width: 1em;
    height: 1em;

    box-shadow: 0 0 0 2px #aec5c8;
    border: 3px solid white;
    border-radius: 0;
    cursor: pointer;
  }

  .input:hover {
    box-shadow: 0 0 0 2px #8faeb3;
  }

  .input:active {
    box-shadow: 0 0 0 2px #cbdadc;
  }

  .input:checked {
    background-color: #ffc242;
    box-shadow: 0 0 0 2px #ffc242;
  }
}
