@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --success: #1fb81f;
  --processing-1: #bbafea;
  --processing-2: #b6daff;
  --processing-3: #9eccbc;
  --Light-Depth3: #e0e5ee;
  --base-font-size: 16px;
  --gris-200: #bebebe;
  --gris-500: #747474;
  --grey: #f0f0f0;
  --Black-900: #000;
  --White-900: #fff;
  --main-background: #002a2e;
  --main-primary-color: #002a2e;
  --main-secondary-color: #006170;
  --Primary-200: #abccd1;
  --Primary-350: #49868f;
  --Primary-400: #3c7075;
  --Primary-500: #006170;
  --Primary-500-Alpha60: rgba(0, 97, 112, 0.6);
  --Primary-600: #0c454a;
  --Primary-700: #002a2e;
  --main-secondary-color-light: #d8f0ef;
  --popup-background: #011c1e;
  --highlight-color: #b6daff;
  --error: #e02f02;
  --Info: #4b75ff;
  --Info-400: #16a6ff;
  --Info-300: #58bbf8;
  --Info-200: #b8deff;

  --Bleu-nuit-Egis-900: #08212c;
  /* Primary colors */
  --IRIS-dark-blue: #0f222b;
  --IRIS-Principales-dark-blue-100: #acc3ce;
  --IRIS-Principales-dark-blue-200: #7d9ba9;
  --IRIS-Principales-dark-blue-300: #507080;
  --IRIS-Principales-dark-blue-500: var(--IRIS-dark-blue);
  --White-white-alpha30: rgba(255, 255, 255, 0.3);
  --IRIS-Principales-yellow-400: #ffd43a;
  --IRIS-Principales-yellow-600: #dbab00;
  --IRIS-Principales-azur-500: #19626f;
  --White-white: #fff;

  /* Secondary colors */
  --sky-blue: #b6daff;
  --pastel-blue: #eff6ff;
  --pastel-green: #c2ded4;
  --light-green: #c1df9c;

  /* Tertiary colors */
  --light-yellow-orange: #ffd471;
  --orange-terracotta: #cd7f5d;

  --IRIS-Principales-azur-400: #297f8e;
  --container-max-width: 900px;
  --chat-input-container-max-width: 900px;

  --Main-gradient: linear-gradient(64deg, #bbafea 16.51%, #b6daff 66.56%);
}

html {
  font-size: var(--base-font-size);
}

@media (max-width: 1708px) or (max-height: 907px) {
  :root {
    --base-font-size: 14px;
  }
}

@media (max-width: 1281px) or (max-height: 721px) {
  :root {
    --base-font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  z-index: 0;
}

.banner-visible {
  height: calc(100vh - 30px);
}

.bold {
  font-weight: 700;
}

#simple-popper {
  z-index: 99999;
}

/*
    Primary colors
    really dark blue: #002a2e
    dark turquoise: #006170
*/

/*
    Secondary colors
    sky blue: #b6daff
    pastel green: #c2ded4
    light green: #c1df9c
*/

/*
    Tertiary colors
    light yellow-orange: #ffd471
    orange terracotta:  #cd7f5d
*/
.main-scrollbar {
  @supports (-moz-appearance: none) {
    scrollbar-width: thin;
    scrollbar-color: var(--main-secondary-color) transparent;
  }
}
.main-scrollbar::-webkit-scrollbar {
  width: 6px;
}

// /* For the track of the scrollbar */
.main-scrollbar::-webkit-scrollbar-track {
  background: transparent !important; /* Sets the track's background to transparent */
}

.main-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary-color) !important;
  border-radius: 50px;
  border: 1px solid transparent !important;
}
