.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iteration {
  border-radius: 1px;
  background: transparent;
  outline: 8px solid transparent;

  transition:
    background-color 0.2s ease,
    filter 0.2s ease,
    outline-color 0.2s ease;

  &:has(+ .remove-button-hover:hover) {
    background-color: #f0f0f0;
    outline-color: #f0f0f0;
    filter: opacity(0.8);
  }
}

.add-button {
  align-self: flex-start;
  padding: 5px 5px 0 0;
  color: #006170;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.remove-button {
  align-self: flex-start;
  padding: 5px 5px 5px 0;
  color: #b0b0b0;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}
