.field {
  display: flex;
  flex-direction: column;
}

.segment {
  padding: 0 3px;

  &:focus {
    background-color: lightblue;
    border: none;
    outline: none;
  }
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: #efefef;
  border: 1px solid #efefef;
  outline: none;
  padding: 10px 6px;

  &[data-focus-within] {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 5px darkgrey;
  }
}

.isOpen {
  border: 1px solid black;
  background-color: white;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popover {
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px;
  background-color: white;

  &:focus-within {
    box-shadow: 0 0 5px darkslategrey;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.cell {
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #efefef;
  }

  &[data-selected] {
    background-color: #afbb32;
  }
}

.navButton {
  // FIXME when we have icons
  height: 32px;
  width: 32px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  border-radius: 999px;

  &:hover {
    background-color: #efefef;
  }
}

.error {
  color: red;
}
