.root {
  display: flex;
  flex-direction: row;
  padding-top: var(--header-height);
  height: 100%;
  width: 100%;
}

.drawer {
  background-color: blue;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.table-controls {
  background-color: red;
  //tobe fixed with layout
  height: 0px;
}

.table-container {
  flex: 1;
  background-color: green;
}
