.field {
    display: flex;
    flex-direction: column;
    
    input, textarea {
        margin-bottom: 8px;
        border-radius: 6px;
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF;
        padding: 10px 6px;

        &:focus, &:active {
            border: 1px solid black;
            background-color: white;
        }
    }

    &[data-invalid] {
        input, textarea {
            border: 1px solid red;
            background-color: #FFE5E5;
        }
    }
}

.error {
    color: red;
}