@use './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --base-font-size: 16px;
  --base-line-height: 1.5;
  --success: #1fb81f;
  --neutral-alpha10: rgba(132, 132, 132, 0.1);
  --vert-800: #5e6b09;
  --rouge-200: #e38f91;
  --secondary-500: #002b4a;
  --neutral-300: #dcdcdc;
  --neutral-0: #ffffff;
  --gris-200: #bebebe;
  --vert-500: #abc022;
  --vert-500-pressed: #91a41a;
  --vert-500-disabled: #d6d6d6;
  --vert-500-hover: #f6f9d7;
  --vert-600: #91a41a;
  --header-height: 64px;
  --vert-200: #d8e28f;
  --bleue-nuit: #08212c;
  --gris-300: #a5a5a5;
  --rouge-500: #c90d0d;
  --rouge-50: #f9d7d7;
  --gris-200: #bebebe;
}

html {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
}

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  // create a stacking context in order to work with modals and popovers
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.main-scrollbar {
  @supports (-moz-appearance: none) {
    scrollbar-width: thin;
    scrollbar-color: var(--vert-500) transparent;
  }
}
.main-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  @include breakpoints.respond-to-and-between('s', 'xl') {
    width: 4px;
    height: 4px;
  }

  @include breakpoints.respond-to-and-up('quadhd') {
    width: 16px;
  }
}

// /* For the track of the scrollbar */
.main-scrollbar::-webkit-scrollbar-track {
  background: transparent !important; /* Sets the track's background to transparent */
}

.main-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--vert-500) !important;
  border-radius: 50px;
  border: 1px solid transparent !important;
}

@mixin heading-200 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}
